* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto Mono", monospace;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #465945;
  background-color: #ffefd5;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header {
  display: block;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
