.main {
  &__header {
    border-bottom: 3px solid #ccc;
  }
}

.section {
  &__title {
    padding: 10px 0 10px 0;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #829a7f;
  }

  &__link a {
    color: #bdb76b;
    text-decoration: none;
    transition: color 0.5s;
  }

  &__link a:hover {
    color: #ac7f1f;
  }

  &__profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
  }

  &__main {
    text-transform: uppercase;
  }

  &__main:hover {
    color: #ac7f1f;
    transition: 0, 8s;
  }

  &__img {
    border-radius: 10%;
    box-shadow: 0 8px 18px;
  }

  &__img:hover {
    transform: scale(1.1);
    transition: 1s;
  }

  &__item {
    padding: 50px;
    border-bottom: 3px solid #ccc;
  }

  &__item_hover:hover {
    transform: scale(1.1);
    transition: 1s;
  }

  &__text {
    padding-bottom: 10px;
  }

  &__slider {
    padding-top: 20px;
  }

  &__icon {
    margin-right: 10px;
    margin-top: 2.5px;
  }

  &__skills {
    color: #bdb76b;
  }

  &__footer{
    display: flex;
    justify-content: space-around;
  }
}
